.field.field-addresslocation {
	display: flex;
}

.field.field-addresslocation>* {
	flex-basis: 50%;
}

.field.field-addresslocation>.address {
	border-right: 1px solid var(--color-ui);
	padding-top: var(--standard-inner-rhythm);
}

.field.field-addresslocation .address>input,
.field.field-addresslocation .address>label {
	width: 50%;
	float: left;
}

.field.field-addresslocation .address>legend {
	clear: both;
	margin-bottom: var(--spacing-nano);
}

.field.field-addresslocation .address .street {
	width: 100%;
}

.field.field-addresslocation .address>label {
	width: calc(50% - var(--standard-inner-rhythm) * 2);
}

.field.field-addresslocation .address>div {
	clear: both;
	padding: var(--standard-inner-rhythm);
}

.field.field-addresslocation .address>div>input[type=button] {
	margin-right: var(--standard-inner-rhythm);
}

.field.field-addresslocation .map {
	margin: var(--standard-inner-rhythm);
	flex-shrink: 1;
	border-radius: var(--radius-small);
}

.field.field-addresslocation input[type="text"]:last-of-type {
	border-radius: 0;
}

div.field-addresslocation div.locate a.mapswitch {
	float: right;
	text-decoration: none;
}

div.field-addresslocation div.gm-style-cc {
	display: none;
}
